<div class="ChiTietDoanHoi__container">
  <h3>Lịch sử Đoàn TNCS Hồ Chí Minh Trường ĐH Kinh tế - Luật</h3>
  <div class="ChiTietDoanHoi__image">
    <img src="../Images/BAI WEB.jpg" alt="" />
  </div>
  <p>
    Trường Đại học Kinh tế - Luật là trường thành viên của Đại học Quốc gia Tp.
    HCM được thành lập theo quyết định số 377/QĐ/TTg ngày 24 tháng 03 năm 2010
    của Thủ tưởng Chính phủ. Tiền thân của Trường Đại học Kinh tế - Luật là Khoa
    Kinh tế trực thuộc ĐHQG TP. HCM được thành lập ngày 06 tháng 11 năm 2000
    theo quyết định số 441/QĐ/ĐHQG/TCCB của Giám đốc ĐHQG TP.HCM.
  </p>
  <p>
    Ngày 08 tháng 03 năm 2002, Đoàn Khoa Kinh tế được thành lập theo quyết định
    của Ban Chấp hành Thành Đoàn TP.HCM. Tháng 04/2010, Đoàn Khoa Kinh tế đổi
    tên thành Đoàn Trường Đại học Kinh tế - Luật sau khi có quyết định thành lập
    Trường Đại học Kinh tế - Luật.
  </p>
  <div class="ChiTietDoanHoi__image">
    <img src="../Images/anhdoanhoi2.jpg" alt="" />
  </div>
  <p>
    Ngoài nhiệm vụ chính trị hàng đầu của sinh viên là học tập thì vấn đề giáo
    dục đạo đức, rèn luyện nhân cách, tạo sân chơi tinh thần, hỗ trợ sinh viên,
    đáp ứng nhu cầu học tập, sinh hoạt của sinh viên luôn được Đoàn Trường quan
    tâm và giữ vai trò không thể thiếu đối với mỗi đoàn viên - sinh viên.
  </p>
  <div class="ChiTietDoanHoi__image">
    <img src="../Images/anhdoanhoi3.jpg" alt="" />
  </div>
  <p>
    Bên cạnh đó, các hoạt động văn hóa, văn nghệ, thể thao được Đoàn Trường
    triển khai hiệu quả; các hoạt động tình nguyện của sinh viên Trường như: Mùa
    hè xanh, Xuân tình nguyện, Tiếp sức mùa thi,…được sự hưởng ứng và tham gia
    đông đảo của sinh viên, các hoạt động này đã góp phần trong việc giáo dục
    nhân cách sống, lý tưởng sống cho mỗi đoàn viên, hội viên.
  </p>
  <div class="ChiTietDoanHoi__image">
    <img src="../Images/anhdoanhoi4.jpg" alt="" />
  </div>
  <p>
    Công tác tổ chức – xây dựng Đoàn và tập hợp Thanh niên được tổ chức Đoàn
    quan tâm đầu tư và thực hiện hiệu quả, từ số lượng gần 300 Đoàn viên khi mới
    thành lập, đến nay tổng số Đoàn viên – Hội viên của Trường đã gần 7.000,
    khẳng định cho sự phát triển lớn mạnh về quy mô và chất lượng các hoạt động
    của Đoàn. Công tác phát triển Đảng được Đoàn Trường đầu tư hiệu quả, thể
    hiện được vai trò tiên phong, đội dự bị tin cậy của Đảng Cộng sản Việt Nam.
  </p>
  <div class="ChiTietDoanHoi__image">
    <img src="../Images/anhdoanhoi5.jpg" alt="" />
  </div>
  <div class="ChiTietDoanHoi__image">
    <img src="../Images/anhdoahoi6.jpg" alt="" />
  </div>
  <h3>Quá trình thành lập bộ máy, tổ chức</h3>
  <p>
    - Năm 2002: Thành lập Đoàn Khoa Kinh tế trực thuộc Đại học Quốc gia TP.HCM
    giai đoạn lâm thời. BCH gồm 07 đồng chí: <br />
    + Bí thư: Đ/c Hoàng Lâm Cường <br />
    + Phó Bí thư: Đ/c Trần Thu Hương <br />
    - Nhiệm kỳ I (2003 – 2005): Ban chấp hành Đoàn TNCS HCM Khoa Kinh tế - Đại
    học Quốc gia Thành phố Hồ Chí Minh gồm 13 đồng chí: <br />
    + Bí thư: Đ/c Hoàng Lâm Cường <br />
    + Phó Bí thư: Đ/c Nguyễn Thị Ngọc Tuyền <br />
    - Nhiệm kỳ II (2005 – 2007): Ban chấp hành Đoàn TNCS HCM Khoa Kinh tế - Đại
    học Quốc gia Thành phố Hồ Chí Minh gồm 15 đồng chí: <br />
    + Bí thư: Đ/c Nguyễn Thanh Trọng <br />
    + Phó Bí thư: Đ/c Nguyễn Thị Ngọc Tuyền <br />
    - Nhiệm kỳ III (2007-2009): Ban chấp hành Đoàn TNCS HCM Khoa Kinh tế - Đại
    học Quốc gia Thành phố Hồ Chí Minh gồm 15 đồng chí: <br />
    + Bí thư: Đ/c Nguyễn Thị Ngọc Tuyền <br />
    + Phó Bí thư thường trực: Đ/c Hoàng Ngọc Hiếu <br />
    + Phó Bí thư: Đ/c Võ Văn Trọng <br />
    - Năm học 2009 – 2010: Đoàn Khoa Kinh tế - ĐHQG.HCM (đoàn cơ sở trực thuộc
    Thành Đoàn) được nâng cấp lên thành Đoàn tương đương cấp Huyện <br />
    - Nhiệm kỳ IV (2010 – 2012): Ban chấp hành Đoàn Trường Đại học Kinh tế -
    Luật gồm 21 đồng chí. <br />
    + Bí thư: Đ/c Võ Văn Trọng <br />
    + Phó Bí thư thường trực: Đ/c Hoàng Ngọc Hiếu <br />
    + Phó Bí thư: Đ/c Nguyễn Thị Thu Trang <br />
    Ngày 08/12/2012, Hội nghị BCH Đoàn trường bầu Đ/c Huỳnh Hồng Hiếu (thay Đ/c
    Nguyễn Thị Thu Trang) <br />
    - Nhiệm kỳ V (2012 – 2014): Ban chấp hành Đoàn Trường Đại học Kinh tế - Luật
    gồm 21 đồng chí. <br />
    + Bí thư: Đ/c Võ Văn Trọng <br />
    + Phó Bí thư thường trực: Đ/c Hoàng Ngọc Hiếu <br />
    + Phó Bí thư: Đ/c Huỳnh Hồng Hiếu <br />
    Ngày 27/11/2012, Hội nghị BCH Đoàn trường bầu kiện toàn: <br />
    + Bí thư: Đ/c Hoàng Ngọc Hiếu <br />
    + Phó Bí thư thường trực: Đ/c Võ Nguyễn Thanh Thu <br />
    Ngày 25/12/2013, Hội nghị BCH Đoàn trường bầu kiện toàn Đ/c Võ Đình Vinh
    (thay Đ/c Huỳnh Hồng Hiếu) <br />
    - Nhiệm kỳ VI (2014 – 2017): Ban chấp hành Đoàn Trường Đại học Kinh tế -
    Luật gồm 23 đồng chí. <br />
    + Bí thư: Đ/c Hoàng Ngọc Hiếu <br />
    + Phó Bí thư thường trực: Đ/c Võ Nguyễn Thanh Thu <br />
    + Phó Bí thư: Đ/c Nguyễn Văn Nên <br />
    - Nhiệm kỳ VII (2017 – 2019): Ban chấp hành Đoàn Trường Đại học Kinh tế -
    Luật gồm 23 đồng chí. <br />
    + Bí thư: Đ/c Phùng Thị Diệu Hương <br />
    + Phó Bí thư thường trực: Đ/c Ngô Lê Mạnh Hiếu <br />
    + Phó Bí thư: Đ/c Bùi Hoàng Mol <br />
    - Nhiệm kỳ VIII (2019 – 2022): Ban chấp hành Đoàn Trường Đại học Kinh tế -
    Luật gồm 23 đồng chí. <br />
    + Bí thư: Đ/c Ngô Lê Mạnh Hiếu <br />
    + Phó Bí thư thường trực: Đ/c Bùi Hoàng Mol <br />
    + Phó Bí thư: Đ/c Nguyễn Thế Đức Tâm
  </p>
  <h3>Các thành tích đạt được</h3>
</div>
